<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828592314334-pdnc0i011mh8bcqt1m1srs729sv9dpli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828592314334-pdnc0i011mh8bcqt1m1srs729sv9dpli</string>
	<key>API_KEY</key>
	<string>AIzaSyB2nFVPJZ5cEjjaqkxF8wR8IJ-aSsVJ0XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>828592314334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-58681</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-58681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828592314334:ios:51da46e3bdd1b5a2e76f4f</string>
</dict>
</plist>